<!DOCTYPE html>
<html>
    <head>
        <title>Ramesh Web site</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="static/assets/css/main.css" />
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Intro -->
                    <section class="intro">
                        <header>
                            <h1>Ramesh</h1>
                            <p>my lucky number today is {{random_number}}</p>
    </header>
    </section>
    </div>
</body>

<footer>
    <p>Copyright &copy; {{year}} Ramesh</p>
    <p>All rights reserved.</p>
</footer>
                            
</html>